<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Andres Soop VSo17</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

	        {% block stylesheets %}
	
	            <link rel="stylesheet" type="text/css" media="screen" href="/css/header.css">
	
	            <link rel="stylesheet" type="text/css" media="screen" href="/css/footer.css">
	
	        {% endblock %} 
 
    </head>
    <body>
        {{ include('_header.html.twig') }}
        {{ include('_menu.html.twig') }}
        <div class="content">{% block content %}{% endblock %}</div>
        {{ include('_footer.html.twig') }}

    </body>
    {% block javascripts %}{% endblock %}
</html>