{% extends 'base.html.twig' %}

{% block content %}
    <h2>The list of bookings</h2>
    {% if bookings is empty %}
        <p>You don't have any bookings!</p>
    {% else %}
        <table class="booking-table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Birthday</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Arrival time</th>
                    <th>Additional Information</th>
                    <th>Number Of People</th>
                    <th>Paying Method</th>
                </tr>
            </thead>
            <tbody>
                {% for row in bookings %}
                    <tr>
                        <td>{{ row.firstName }}</td>
                        <td>{{ row.lastName }}</td>
                        <td>{{ row.phone }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.birthday|date('d.m.Y') }}</td>
                        <td>{{ row.startDate|date('d.m.Y') }}</td>
                        <td>{{ row.endDate|date('d.m.Y') }}</td>
                        <td>{{ row.arrivalTime|date('H:i:s') }}</td>
                        <td>{{ row.additionalInformation }}</td>
                        <td>{{ row.nrOfPeople }}</td>
                        <td>{{ row.payingMethod }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/list.css">
{% endblock %}
